<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="styles/root.css" >
  <link rel="stylesheet" type="text/css" href="styles/modalWindowPause.css" >
  <link rel="stylesheet" type="text/css" href="styles/modalWindowQuestion.css" >
</head>
<body>
  <div class="form-input">
    <div id="textArea" readonly="readonly"> <!-- readonly="readonly" -->
      
    </div>
    <div class="block mt-1">
      <span id="warringText">You have some troubles! May be You type wrong symbol. Try Russian language.</span>
    </div>
    <div class="block mt-1">
      <input type="text" id="inpText" disabled="disabled"/>  
    </div>
    <div class="block mt-2">
      <button type="button" class="btn" id="btnStop" disabled="disabled">Pause</button>
      <button type="button" class="btn ml-1" id="btnStart">Start</button>
    </div>
    <div class="time-block mr-1 pt-1">
      <span class="main-time-block"><label>Times left: </label><span class="timer" id="timer">00:00:00</span></span>
    </div>
  </div>
  
  <!--Modal window 'Pause'-->
  <a href="#modal-window" hidden="hidden" id="modalTrigger"></a>
  <div class="overlay" id="modal-window">
    <div class="modal">
      <div class="modal-content">
        <div class="modal-header">
          <h1>Pause</h1>
          <a href="#close" title="close" class="close" id="btnClose">&times;</a>
        </div>
        <div class="modal-body">
          <div id="blockPauseText" class="mt-4"></div>
        </div>
        <div class="modal-footer">
          <span>Developed by Kirill Sedin</span>
        </div>
      </div>
    </div>
  </div>
  
  <a href="#modal-window-question" hidden="hidden" id="modalTriggerQuestion">ggggg</a>

  <!-- Modal window for questions -->
  <div class="overlay-q" id="modal-window-question">
    <div class="modal-q">
      <div class="modal-content-q">
        <div class="modal-header-q">
          <h2 id="titleQuestion">Question#123</h2>
        </div>
        <div class="modal-body-q">
          <div id="blockQuestionText" class="text-content">Zdes kakoyato neherovie tekst</div>
          <a href="#close" title="close" hidden="hidden" class="clos-q" id="btnCloseQ">&times;</a>
          <div class="button-group mt-4">
            <button type="button" id="answer1" class="btnAnswer btn-q mr-1">Answer1</button>
            <button type="button" id="answer2" class="btnAnswer btn-q mr-1">Answer2</button>
            <button type="button" id="answer3" class="btnAnswer btn-q mr-1">Answer3</button>
            <button type="button" id="answer4" class="btnAnswer btn-q">Answer4</button>
          </div>
        </div>
        <div class="modal-footer-q">
          <span>Developed by Kirill Sedin</span>
        </div>
      </div>
    </div>
  </div>
  
  
  <a href="#modal-window-end" hidden="hidden" id="modalTriggerEnd">end of game</a>

  <!-- Modal window for end -->
  <div class="overlay-q" id="modal-window-end">
    <div class="modal-q">
      <div class="modal-content-q">
        <div class="modal-header-q">
          <h2 id="titleQuestion">Сongratulations</h2>
          <a href="#close" title="close" hidden="hidden" class="clos-q" id="btnCloseEnd">&times;</a>
        </div>
        <div class="modal-body-q">
          <div id="blockQuestionText" class="text-content">
            <!-- поменять цвет spanov -->
            <span class="main-span"><label>Your time: </label><span class="secondary-span" id="playerTime"></span></span><br />
            <span class="main-span mt-1"><label>Count of words: </label><span class="secondary-span" id="playerWords"></span></span><br />
            <span class="main-span mt-2"><label>Fails: </label><span class="secondary-span" id="playerFails"></span></span>
          </div>
          <div class="button-group mt-4">
            <button type="button" id="restartGame" class="btn-q mr-2">Restart</button>
            <button type="button" id="closeGame" class="btn-q">Exit</button>
          </div>
        </div>
        <div class="modal-footer-q">
          <label hidden="hidden" id="lblRestart">Restarting.....</label><span>Developed by Kirill Sedin</span>
        </div>
      </div>
    </div>
  </div>
  
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="scripts/textListner.js"></script>
  <script src="scripts/modalWindowLogic.js"></script>
  <script src="scripts/timer.js"></script>
</body>
</html>