<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="styles/root.css" >
</head>
<body>
  <div class="form-input">
    <div>
      <textarea id="textArea" class="form-control" readonly="readonly">
        
      </textarea>
      
      <progress class="form-control"></progress>
    </div>
    <div>
      <input type="text" class="form-control" id="inpText"/>    
    </div>
    <div>
      <button type="button" class="form-control">Stop</button>
      <button type="button" class="form-control">Start</button>
    </div>
  </div>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="scripts/textListner.js"></script>
</body>
</html>