body
{
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #D8BFD8;
}

.form-input
{
  width: 100%;
  max-width: 350px;
  padding: 15px;
  margin: auto;
}

.form-input .form-control
{
  position: relative;
  margin-top: auto;
  margin-bottom: auto;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

#textArea
{
  width: 400px;
  height: 200px;
}

